.dashboard-card{
    
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
    border: none !important;
    color: white !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    border: none !important;
    color: white !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
    border: none !important;
    color: white !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
    border: none !important;
    color: white !important;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}